<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>718754203049-bqfvkqp78kuu502fg6v8nmrj68pte5ob.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.718754203049-bqfvkqp78kuu502fg6v8nmrj68pte5ob</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>718754203049-qu1o9fr8k28cdjdt4k3h2tco0671d8v6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC5SH_aVfFLvCwu9C7OaIZ4bz9dd7xWMRk</string>
	<key>GCM_SENDER_ID</key>
	<string>718754203049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>multi-cast</string>
	<key>STORAGE_BUCKET</key>
	<string>multi-cast.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:718754203049:ios:944613361308f894b770b8</string>
</dict>
</plist>